@model pavani1.Models.FlatDetails

<h2>Add New Flat Details</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(model => model.FlatNumber)
        @Html.TextBoxFor(model => model.FlatNumber, new { @class = "form-control" })
    </div>
                
    <div class="form-group">
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PhoneNumber)
        @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PaymentStatus)
        @Html.TextBoxFor(model => model.PaymentStatus, new { @class = "form-control" })
    </div>

    <input type="submit" value="Create" class="btn btn-primary" />
}
