@model smtp_contactus.Models.Class1

@{
    ViewBag.Title = "ContactUs";
}

<h2>Contact Us</h2>

@using (Html.BeginForm("ContactUs", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div>
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name)
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div>
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email)
        @Html.ValidationMessageFor(m => m.Email)
    </div>
    <div>
        @Html.LabelFor(m => m.Message)
        @Html.TextAreaFor(m => m.Message)
        @Html.ValidationMessageFor(m => m.Message)
    </div>
    <button type="submit">Send Message</button>
}

@if (TempData["Message"] != null)
{
    <div>@TempData["Message"]</div>
}
