@model smtp_contactus.Models.Payment

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Payment Success</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2 class="text-success">Payment Successful!</h2>
        <div class="alert alert-success" role="alert">
            Thank you for your payment!
        </div>

        <h4>Payment Details</h4>
        <ul class="list-group">
            <li class="list-group-item"><strong>Tenant Name:</strong> @Model.TenantName</li>
            <li class="list-group-item"><strong>Apartment Number:</strong> @Model.ApartmentNumber</li>
            <li class="list-group-item"><strong>Rent Amount:</strong> @Model.RentAmount.ToString("C")</li>
            <li class="list-group-item"><strong>Maintenance Charges:</strong> @Model.MaintenanceCharges.ToString("C")</li>
            <li class="list-group-item"><strong>Gas Charges:</strong> @Model.GasCharges.ToString("C")</li>
            <li class="list-group-item"><strong>Water Charges:</strong> @Model.WaterCharges.ToString("C")</li>
            <li class="list-group-item"><strong>Electricity Charges:</strong> @Model.ElectricityCharges.ToString("C")</li>
            <li class="list-group-item"><strong>Total Amount:</strong> @Model.TotalAmount.ToString("C")</li>
        </ul>


        <br />
        <a href="@Url.Action("PaymentForm", "Payment")" class="btn btn-primary">Make Another Payment</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>




